*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#erinite-tooling #tooling-toggle {
    position: absolute;
    bottom: 0;
    right: 0;
}

#erinite-tooling .container {
    position: absolute;
    bottom: 0;
    height: 33%;
    width: 100%;
    margin-left: -0.5em;
    margin-right: -0.5em;
    border: 1px dotted #999;
    background-color: #ccc;
}

#erinite-tooling .tabs {
    position: absolute;
    top: 0;
    width: 100%;
}

#erinite-tooling .tab {
    border: 1px solid #aaa;
    height: 1.4em;
    cursor: pointer;
}

#erinite-tooling .tabs .tab {
    float: left;
    padding-left: 0.25em;
    padding-right: 0.25em;
}

#erinite-tooling .tabs .selected {
    border: 1px solid black;
    background-color: #dcc !important;
}


#erinite-tooling .tab:hover {
    background-color: #dcc !important;
}

#erinite-tooling .content-area {
    clear: both;
    height: 100%;
    position:relative;
    padding-top: 1.5em;
    padding-left: 0.25em;
}

#erinite-tooling .content-area .content {
    overflow: scroll;
    height: 100%;
    width: 100%;
}
#erinite-tooling .content-area .content .inspector {
    overflow-x: visible !important;
}


.toggle-button {
    font-weight: bold;
}

.ellipsis {
    color: grey;
}

.number {
    color: forestgreen;
}

.keyword {
    color: darkviolet;
}

.symbol {
    color: inherit;
}

.symbol:before {
    content: "'";
}

.string {
    color: dodgerblue;
}

.boolean {
    color: goldenrod;
}

.nil {
    color: silver;
}

.function {
    color: firebrick;
}

.regex {
    color: darkgreen;
}

.object .key:after {
    content: ":";
}